Repository aravindvnair99/AYKYA-Fest, pull requests merged in 2020-10, with the labels that each got.

#38 Multifest Page
  functions/views/fest.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end

#33 Fixed responsiveness in members page,accommodating new changes
  functions/views/components/footer.ejs
  functions/views/members.ejs
  package-lock.json
  public/assets/images/footer/vinayak.jpg
  public/assets/images/members/aravind.jpg
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end

#36 Made some minor changes to event Gallery Page
  functions/views/culturalweek.ejs
  functions/views/eventGallery.ejs
  functions/views/managementweek.ejs
  functions/views/techweek.ejs
  public/assets/images/eventGallery/cultural_week.jpg
  public/assets/images/eventGallery/management_week.jpg
  public/assets/images/eventGallery/tech_week.jpg
  public/assets/images/uploads/blog/cultural_blog.jpg
  public/assets/images/uploads/blog/management_blog.jpg
  public/assets/images/uploads/blog/tech_blog.jpg
  public/assets/images/uploads/blog/template_blog/blog_single1.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb1.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb2.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb3.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb4.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb5.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb6.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb7.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb8.jpg
  public/assets/images/uploads/blog/template_blog/blogthumb88.jpg
  public/assets/images/uploads/blog/template_blog/witter.png
Labels: EJS, back-end, front-end

#29 Added jumbotron in upcoming page
  functions/views/components/corecss.ejs
  functions/views/upcomingEvents.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/XXL

#35 Logo reveal
  functions/views/components/aykya-logo.ejs
  functions/views/index.ejs
  public/assets/images/lg.svg
  public/assets/scripts/app.js
  public/assets/styles/style.css
Labels: CSS, EJS, JavaScript, back-end, front-end, size/XXL

#41 Conflict fix
  functions/views/about.ejs
  functions/views/components/aykya-logo.ejs
  functions/views/components/footer.ejs
  functions/views/index.ejs
  public/assets/images/home5.jpg
  public/assets/images/img.jpeg
  public/assets/images/lg.svg
  public/assets/scripts/app.js
  public/assets/styles/style.css
Labels: CSS, EJS, JavaScript, back-end, front-end

#40 Refactor and Workflow fix
  .github/workflows/firebase.yml
  functions/views/about.ejs
  functions/views/components/aykya-logo.ejs
  functions/views/components/footer.ejs
  functions/views/index.ejs
  package-lock.json
  public/assets/images/eventGallery/cultural_week.jpg
  public/assets/images/eventGallery/management_week.jpg
  public/assets/images/eventGallery/tech_week.jpg
  public/assets/images/footer/vinayak.jpg
  public/assets/images/home5.jpg
  public/assets/images/img.jpeg
  public/assets/images/lg.svg
  public/assets/images/members/aravind.jpg
  public/assets/images/uploads/blog/cultural_blog.jpg
  public/assets/images/uploads/blog/management_blog.jpg
  public/assets/images/uploads/blog/tech_blog.jpg
  public/assets/scripts/app.js
  public/assets/styles/style.css
Labels: front-end, workflows

#45 Made changes to Members and Contact page
  functions/views/contact.ejs
  functions/views/members.ejs
  public/assets/images/members/madhumitha.jpg
  public/assets/images/members/neeraja.jpg
  public/assets/images/members/sreehari.jpg
Labels: EJS, back-end, front-end

#47 Stage 1 of Frontend Fixes
  functions/views/about.ejs
  functions/views/components/footer.ejs
  functions/views/components/nav.ejs
  functions/views/contact.ejs
  functions/views/culturalweek.ejs
  functions/views/eventGallery.ejs
  functions/views/fest.ejs
  functions/views/index.ejs
  functions/views/managementweek.ejs
  functions/views/members.ejs
  functions/views/techweek.ejs
  functions/views/upcomingEvents.ejs
  public/assets/images/logo-white.png
  public/assets/images/logo-white.svg
  public/assets/scripts/app.js
  public/assets/styles/style.css
Labels: CSS, EJS, JavaScript, back-end, front-end

#52 Fix 404 on week pages
  functions/views/culturalWeek.ejs
  functions/views/managementWeek.ejs
  functions/views/techWeek.ejs
Labels: EJS, back-end

#55 Added social links and removed Head from designations
  functions/views/components/footer.ejs
  functions/views/components/nav.ejs
  functions/views/members.ejs
Labels: EJS, back-end, size/M

#62 Fixed issue regarding Past Events Blog pages
  functions/views/culturalWeek.ejs
  functions/views/schedule.ejs
Labels: EJS, back-end, size/S

#64 Favicon fix and acrd logo inclusion
  functions/views/components/footer.ejs
  functions/views/components/meta.ejs
  functions/views/index.ejs
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/assets/images/acrd.jpg
  public/assets/styles/style.css
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
Labels: CSS, EJS, back-end, front-end

#66 About Aykya fix
  functions/views/about.ejs
  functions/views/components/footer.ejs
  functions/views/components/meta.ejs
  functions/views/index.ejs
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/assets/images/acrd.jpg
  public/assets/styles/style.css
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
Labels: CSS, EJS, back-end, front-end, size/L

#68 HomePage fix
  functions/views/index.ejs
  public/assets/scripts/app.js
  public/assets/styles/style.css
Labels: CSS, EJS, JavaScript, back-end, front-end, size/L

#72 Events reg template
  functions/index.js
  functions/views/eventRegTemplate.ejs
  functions/views/schedule.ejs
Labels: EJS, back-end, size/L

#65 Stage 2 of Frontend Fixes
  functions/index.js
  functions/views/about.ejs
  functions/views/contact.ejs
  functions/views/culturalWeek.ejs
  functions/views/errors/404.ejs
  functions/views/eventPosters/eventRegTemplate.ejs
  functions/views/eventPosters/pitchPeak.ejs
  functions/views/index.ejs
  functions/views/managementWeek.ejs
  functions/views/organisers.ejs
  functions/views/pastEvents.ejs
  functions/views/schedule.ejs
  functions/views/techWeek.ejs
  functions/views/upcomingEvents.ejs
  public/assets/scripts/app.js
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/XXL

#75 Scroll-Spy in Schedule Page
  functions/views/schedule.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/S

#74 Technical Events Part 2
  functions/index.js
  functions/views/eventPosters/arivu.ejs
  functions/views/eventPosters/blockChain.ejs
  functions/views/eventPosters/chatBots.ejs
  functions/views/eventPosters/eventRegTemplate.ejs
  functions/views/eventPosters/mathWorks.ejs
  functions/views/eventPosters/nlp.ejs
  functions/views/eventPosters/ramanujan.ejs
  functions/views/eventPosters/ramanujanam.ejs
  functions/views/eventPosters/sigma.ejs
  functions/views/schedule.ejs
  public/assets/images/eventPosters/technicalEvents/arivu.jpg
  public/assets/images/eventPosters/technicalEvents/blockChain.jpg
  public/assets/images/eventPosters/technicalEvents/chatbots.jpg
  public/assets/images/eventPosters/technicalEvents/mathWorks.jpg
  public/assets/images/eventPosters/technicalEvents/nlp.jpg
  public/assets/images/eventPosters/technicalEvents/ramanujan.jpg
  public/assets/images/eventPosters/technicalEvents/sigma.jpg
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/XS

#80 Management Events Pages
  functions/index.js
  functions/views/eventPosters/businessMavericks.ejs
  functions/views/eventPosters/pitchPeak.ejs
  functions/views/eventPosters/scope.ejs
  functions/views/eventPosters/tradeOMania.ejs
  functions/views/eventPosters/visleshana.ejs
  functions/views/eventPosters/wireHire.ejs
  functions/views/schedule.ejs
  public/assets/images/eventPosters/managementEvents/businessMavericks.jpg
  public/assets/images/eventPosters/managementEvents/pitchPeak.jpg
  public/assets/images/eventPosters/managementEvents/scope.jpg
  public/assets/images/eventPosters/managementEvents/tradeOMania.jpg
  public/assets/images/eventPosters/managementEvents/vishleshana.jpg
  public/assets/images/eventPosters/managementEvents/wireHire.jpg
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/XXL

#78 Cultural2
  functions/views/eventPosters/artGallery.ejs
  functions/views/eventPosters/battleOfTheBands.ejs
  functions/views/eventPosters/bestFootForward.ejs
  functions/views/eventPosters/conquerTheSquares.ejs
  functions/views/eventPosters/openMicComedy.ejs
  functions/views/eventPosters/openMicMusic.ejs
  functions/views/eventPosters/openMicTalk.ejs
  functions/views/eventPosters/shipwreck.ejs
  functions/views/schedule.ejs
  public/assets/images/eventPosters/culturalEvents/artgallery.png
  public/assets/images/eventPosters/culturalEvents/battle of bands.png
  public/assets/images/eventPosters/culturalEvents/bestfootforward.png
  public/assets/images/eventPosters/culturalEvents/chess.png
  public/assets/images/eventPosters/culturalEvents/openmic.png
  public/assets/images/eventPosters/culturalEvents/shipwreck.png
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/XL

#79 Webpages for Events
  functions/index.js
  functions/views/eventPosters/arivu.ejs
  functions/views/eventPosters/artGallery.ejs
  functions/views/eventPosters/battleOfTheBands.ejs
  functions/views/eventPosters/bestFootForward.ejs
  functions/views/eventPosters/blockChain.ejs
  functions/views/eventPosters/businessMavericks.ejs
  functions/views/eventPosters/chatBots.ejs
  functions/views/eventPosters/conquerTheSquares.ejs
  functions/views/eventPosters/curbTheDiseases.ejs
  functions/views/eventPosters/gameNite.ejs
  functions/views/eventPosters/mathWorks.ejs
  functions/views/eventPosters/nlp.ejs
  functions/views/eventPosters/openMicComedy.ejs
  functions/views/eventPosters/openMicMusic.ejs
  functions/views/eventPosters/openMicTalk.ejs
  functions/views/eventPosters/pitchPeak.ejs
  functions/views/eventPosters/ramanujan.ejs
  functions/views/eventPosters/ramanujanam.ejs
  functions/views/eventPosters/scope.ejs
  functions/views/eventPosters/shipwreck.ejs
  functions/views/eventPosters/sigma.ejs
  functions/views/eventPosters/tradeOMania.ejs
  functions/views/eventPosters/visleshana.ejs
  functions/views/eventPosters/webinarOnAstrophotography.ejs
  functions/views/eventPosters/webinarOnFutureECE.ejs
  functions/views/eventPosters/wireHire.ejs
  functions/views/eventPosters/workshopOnAWS.ejs
  functions/views/eventPosters/workshopOnML.ejs
  functions/views/pastEvents/culturalWeek.ejs
  functions/views/pastEvents/managementWeek.ejs
  functions/views/pastEvents/techWeek.ejs
  functions/views/schedule.ejs
  public/assets/images/eventPosters/culturalEvents/artgallery.png
  public/assets/images/eventPosters/culturalEvents/battle of bands.png
  public/assets/images/eventPosters/culturalEvents/bestfootforward.png
  public/assets/images/eventPosters/culturalEvents/chess.png
  public/assets/images/eventPosters/culturalEvents/openmic.png
  public/assets/images/eventPosters/culturalEvents/shipwreck.png
  public/assets/images/eventPosters/managementEvents/businessMavericks.jpg
  public/assets/images/eventPosters/managementEvents/pitchPeak.jpg
  public/assets/images/eventPosters/managementEvents/scope.jpg
  public/assets/images/eventPosters/managementEvents/tradeOMania.jpg
  public/assets/images/eventPosters/managementEvents/vishleshana.jpg
  public/assets/images/eventPosters/managementEvents/wireHire.jpg
  public/assets/images/eventPosters/technicalEvents/Futureopportunities.jpg
  public/assets/images/eventPosters/technicalEvents/arivu.jpg
  public/assets/images/eventPosters/technicalEvents/blockChain.jpg
  public/assets/images/eventPosters/technicalEvents/chatbots.jpg
  public/assets/images/eventPosters/technicalEvents/cloudAWS.jpg
  public/assets/images/eventPosters/technicalEvents/curbTheDisease.jpg
  public/assets/images/eventPosters/technicalEvents/gameNite.jpg
  public/assets/images/eventPosters/technicalEvents/mathWorks.jpg
  public/assets/images/eventPosters/technicalEvents/ml.jpg
  public/assets/images/eventPosters/technicalEvents/nlp.jpg
  public/assets/images/eventPosters/technicalEvents/ramanujan.jpg
  public/assets/images/eventPosters/technicalEvents/sigma.jpg
  public/assets/images/eventPosters/technicalEvents/universe.jpg
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/XXL

#81 Landing page fix
  functions/views/components/corecss.ejs
  functions/views/index.ejs
  public/assets/images/video.mp4
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/L

#84 Revert "Landing page fix"
  functions/views/components/corecss.ejs
  functions/views/index.ejs
  public/assets/images/video.mp4
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end

#85 Campus ambassador
  functions/index.js
  functions/views/campusAmbassador.ejs
  functions/views/components/nav.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/L

#86 Campus ambassador
  functions/views/campusAmbassador.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/S

#87 Bug Fixes
  functions/views/campusAmbassador.ejs
  functions/views/components/footer.ejs
  functions/views/components/nav.ejs
  functions/views/contact.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/M

#88 Made font and text styles uniform across all event pages
  functions/index.js
  functions/views/campusAmbassador.ejs
  functions/views/components/footer.ejs
  functions/views/eventPosters/arivu.ejs
  functions/views/eventPosters/artGallery.ejs
  functions/views/eventPosters/battleOfTheBands.ejs
  functions/views/eventPosters/bestFootForward.ejs
  functions/views/eventPosters/blockChain.ejs
  functions/views/eventPosters/businessMavericks.ejs
  functions/views/eventPosters/chatBots.ejs
  functions/views/eventPosters/conquerTheSquares.ejs
  functions/views/eventPosters/curbTheDiseases.ejs
  functions/views/eventPosters/gameNite.ejs
  functions/views/eventPosters/mathWorks.ejs
  functions/views/eventPosters/nlp.ejs
  functions/views/eventPosters/openMicComedy.ejs
  functions/views/eventPosters/openMicMusic.ejs
  functions/views/eventPosters/openMicTalk.ejs
  functions/views/eventPosters/pitchPeak.ejs
  functions/views/eventPosters/ramanujan.ejs
  functions/views/eventPosters/ramanujanam.ejs
  functions/views/eventPosters/scope.ejs
  functions/views/eventPosters/shipwreck.ejs
  functions/views/eventPosters/sigma.ejs
  functions/views/eventPosters/tradeOMania.ejs
  functions/views/eventPosters/visleshana.ejs
  functions/views/eventPosters/vlsi.ejs
  functions/views/eventPosters/webinarOnAstrophotography.ejs
  functions/views/eventPosters/webinarOnFutureECE.ejs
  functions/views/eventPosters/wireHire.ejs
  functions/views/eventPosters/workshopOnAWS.ejs
  functions/views/eventPosters/workshopOnML.ejs
  functions/views/schedule.ejs
  public/assets/images/eventPosters/technicalEvents/futureOpportunities.jpg
  public/assets/images/eventPosters/technicalEvents/vlsi.jpg
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/XXL

#104 Cultural Events
  functions/views/eventPosters/artGallery.ejs
  functions/views/eventPosters/battleOfTheBands.ejs
  functions/views/eventPosters/bestFootForward.ejs
  functions/views/eventPosters/conquerTheSquares.ejs
  functions/views/eventPosters/shipwreck.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end, size/M

#105 Fixed event pages issues
  functions/index.js
  functions/views/components/footer.ejs
  functions/views/components/header.ejs
  functions/views/eventPosters/arivu.ejs
  functions/views/eventPosters/artGallery.ejs
  functions/views/eventPosters/battleOfTheBands.ejs
  functions/views/eventPosters/bestFootForward.ejs
  functions/views/eventPosters/blockChain.ejs
  functions/views/eventPosters/businessMavericks.ejs
  functions/views/eventPosters/chatBots.ejs
  functions/views/eventPosters/conquerTheSquares.ejs
  functions/views/eventPosters/curbTheDiseases.ejs
  functions/views/eventPosters/gameNite.ejs
  functions/views/eventPosters/mathWorks.ejs
  functions/views/eventPosters/nextTech.ejs
  functions/views/eventPosters/nlp.ejs
  functions/views/eventPosters/pitchPeek.ejs
  functions/views/eventPosters/ramanujan.ejs
  functions/views/eventPosters/scope.ejs
  functions/views/eventPosters/shipwreck.ejs
  functions/views/eventPosters/sigma.ejs
  functions/views/eventPosters/tradeOMania.ejs
  functions/views/eventPosters/visleshana.ejs
  functions/views/eventPosters/webinarOnAstrophotography.ejs
  functions/views/eventPosters/webinarOnFutureECE.ejs
  functions/views/eventPosters/wireHire.ejs
  functions/views/eventPosters/workshopOnAWS.ejs
  functions/views/eventPosters/workshopOnML.ejs
  functions/views/schedule.ejs
  public/assets/images/eventPosters/managementEvents/pitchPeek.jpg
Labels: EJS, back-end, front-end, size/L

#108 V1.1.0
  functions/views/eventPosters/artGallery.ejs
  functions/views/eventPosters/battleOfTheBands.ejs
  functions/views/eventPosters/bestFootForward.ejs
  functions/views/eventPosters/blockChain.ejs
  functions/views/eventPosters/businessMavericks.ejs
  functions/views/eventPosters/chatBots.ejs
  functions/views/eventPosters/conquerTheSquares.ejs
  functions/views/eventPosters/curbTheDiseases.ejs
  functions/views/eventPosters/gameNite.ejs
  functions/views/eventPosters/mathWorks.ejs
  functions/views/eventPosters/nextTech.ejs
  functions/views/eventPosters/nlp.ejs
  functions/views/eventPosters/openMicComedy.ejs
  functions/views/eventPosters/openMicMusic.ejs
  functions/views/eventPosters/openMicTalk.ejs
  functions/views/eventPosters/pitchPeek.ejs
  functions/views/eventPosters/ramanujan.ejs
  functions/views/eventPosters/scope.ejs
  functions/views/eventPosters/shipwreck.ejs
  functions/views/eventPosters/sigma.ejs
  functions/views/eventPosters/tradeOMania.ejs
  functions/views/eventPosters/visleshana.ejs
  functions/views/eventPosters/vlsi.ejs
  functions/views/eventPosters/webinarOnAstrophotography.ejs
  functions/views/eventPosters/webinarOnFutureECE.ejs
Labels: EJS, back-end, size/M

#109 Changed linkedin link
  functions/views/components/footer.ejs
Labels: EJS, back-end, size/XS

#111 Resized images and added content for Art Gallery Page
  functions/views/eventPosters/artGallery.ejs
  public/assets/images/acrd.jpg
  public/assets/images/eventPosters/managementEvents/businessMavericks.jpg
  public/assets/images/eventPosters/managementEvents/pitchPeek.jpg
  public/assets/images/eventPosters/managementEvents/scope.jpg
  public/assets/images/eventPosters/managementEvents/tradeOMania.jpg
  public/assets/images/eventPosters/managementEvents/vishleshana.jpg
  public/assets/images/eventPosters/managementEvents/wireHire.jpg
  public/assets/images/footer/adithya.jpg
  public/assets/images/footer/aravind_v_nair.jpg
  public/assets/images/footer/priyaa.jpg
  public/assets/images/footer/subaharish.jpg
  public/assets/images/footer/suneel.jpg
  public/assets/images/footer/vinayak.jpg
Labels: EJS, back-end, front-end
