Repository aravindvnair99/AYKYA-Fest, pull requests merged in 2020-09, with the labels that each got.

#2 Labeler Workflow
  .github/labeler.yml
  .github/workflows/label.yml
Labels: workflows

#3 Switch HTML to EJS
  functions/views/404.ejs
  functions/views/blog-single.ejs
  functions/views/blog.ejs
  functions/views/components/corecss.ejs
  functions/views/components/corejs.ejs
  functions/views/components/footer.ejs
  functions/views/components/meta.ejs
  functions/views/components/nav.ejs
  functions/views/components/sponsors.ejs
  functions/views/contact.ejs
  functions/views/creative-agency.ejs
  functions/views/index-2.ejs
  functions/views/index.ejs
  functions/views/portfolio-single.ejs
  functions/views/portfolio.ejs
  functions/views/schedule.ejs
  functions/views/speaker-1.ejs
  functions/views/speaker-2.ejs
  functions/views/venue.ejs
  public/404.html
  public/assets/images/icon_big.png
  public/assets/images/logo.png
  public/assets/images/logo_big.png
  public/contact.html
  public/index.html
  public/venue.html
Labels: EJS, HTML, back-end, front-end

#5 Fix incorrect app name in package-lock.json
  functions/package-lock.json
Labels: back-end

#19 Modified color code of Navbar items
  functions/index.js
  functions/views/components/footer.ejs
  functions/views/components/nav.ejs
  functions/views/culturalweek.ejs
  functions/views/eventGallery.ejs
  functions/views/managementweek.ejs
  functions/views/techweek.ejs
  public/assets/images/Logo_big_light blue.png
  public/assets/images/logo.png
  public/assets/images/logo1.png
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end

#24 added contents of about page
  functions/views/about.ejs
  public/assets/images/ASEB.jpg
  public/assets/images/home1.JPG
  public/assets/images/home2.JPG
  public/assets/images/home3.JPG
  public/assets/images/home4.JPG
  public/assets/scripts/app.js
  public/assets/styles/style.css
Labels: CSS, EJS, JavaScript, back-end, front-end

#28 Updated Contact page
  functions/views/contact.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end

#30 About Aykya
  functions/views/fest.ejs
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end
