Repository aravindvnair99/AYKYA-Fest, pull requests merged in 2020-11, with the labels that each got.

#115 Updated date
  functions/views/eventPosters/scope.ejs
Labels: size/XS

#113 Replaced local files with cdn links
  functions/views/components/corecss.ejs
  functions/views/components/corejs.ejs
  functions/views/template/components/corejs.ejs
  public/assets/scripts/ScrollMagic.min.js
  public/assets/scripts/TimelineMax.min.js
  public/assets/scripts/TweenMax.min.js
  public/assets/scripts/animation.gsap.min.js
  public/assets/scripts/anime.min.js
  public/assets/scripts/flickity.pkgd.min.js
  public/assets/scripts/isotope.pkgd.min.js
  public/assets/scripts/jquery-3.4.1.js
  public/assets/scripts/packery-mode.pkgd.min.js
  public/assets/scripts/slick.min.js
  public/assets/styles/css/animate.css
Labels: CSS, EJS, JavaScript, back-end, front-end

#116 Removed NLP Event
  functions/index.js
  functions/views/eventPosters/nlp.ejs
  functions/views/eventPosters/vlsi.ejs
  functions/views/schedule.ejs
  public/assets/images/eventPosters/technicalEvents/nlp.jpg
Labels: EJS, back-end, front-end

#117 Sponsor fix
  functions/views/index.ejs
  public/assets/images/amarRaja.png
  public/assets/images/lcm.jpg
  public/assets/styles/style.css
Labels: CSS, EJS, back-end, front-end
